.doubleSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;;
}

.doubleSection section {
    max-width: 49.5%;
    min-width: 49.5%;
    padding: 20px;
    box-sizing: border-box;
    padding: 20px 40px;
}

.socialsContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Adjust for responsiveness */
@media (max-width: 768px) {
    .doubleSection {
        flex-direction: column;
        gap: 20px;
    }

    .doubleSection section {
        max-width: 100%;
        min-width: 100%;
    }
}