.portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

.portfolio-item {
    background: #333;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px;
    width: 220px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.portfolio-item i {
    color: #fff;
    margin-bottom: 10px;
}

.portfolio-item p {
    color: #bbb;
    overflow: hidden;
}