.resumeSection {
    padding: 0;
    display: flex;
    text-align: start;
    color: #888;
    margin: 0;
}

.leftResume, .rightResume {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    padding: 40px;
    margin: 0;
}

.leftResume {
    background-color: rgb(26, 26, 26);
    width: 25%;
}

.rightResume {
    width: 75%;
}

.resumeSection p,
.resumeSection h1,
.resumeSection h2,
.resumeSection h3 {
    text-align: justify;
}

.rightResume .textHeader {
    font-size: 1.9rem;
}

small {
    margin-bottom: 7px;
}

.personalPicture {
    width: 100%;
    height: auto;
    border-radius: 50%;
    width: 250px;
    margin: 0 auto;
}

.techSkills {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .resumeSection {
        flex-direction: column;
        margin: 0;
    }

    .leftResume,
    .rightResume {
        width: 100%;
        padding: 20px;
    }
}